<div flex-xs flex-gt-xs="25" layout="column">
    <md-card>
        <img ng-src="app/img/pchart-placeholder.png" class="md-card-image" alt="Washed Out">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Percent Chart</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <p>
                This is a sample of a percent chart inside an Agular 1.5 app using Angular Material
            </p>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
            <md-button>Details</md-button>
            <md-button>Hide Chart</md-button>
        </md-card-actions>
    </md-card>
</div>