.toolbardemoBasicUsage md-toolbar md-icon.md-default-theme {
    color: white; 
}
#menu {
    padding: 0;
}

#menu .md-button {
    border-radius: 0;
    cursor: pointer;
    display: block;
    align-items: inherit;
    line-height: 40px;
    margin: 0;
    max-height: 40px;
    overflow: hidden;
    padding: 0px 16px;
    text-align: left;
    text-decoration: none;
    white-space: normal;
    width: 100%;
}

.md-button.active {
    background: #267ED5;    
}

.placeholder {
    width: 50%;
    height: 100%;
    opacity: 0.3;
}

#search-button {
    background-color: #85CE36;
    border-color: #85CE36;    
    cursor: pointer;
}

.result-box {
    margin-top: 15px;
}

.result-list {
    margin-top: 15px;
}